pkgbase = noyalib-bin
	pkgdesc = YAML formatter (noyafmt) and JSON-Schema validator (noyavalidate) built on the noyalib library
	pkgver = 0.0.54
	pkgrel = 1
	url = https://github.com/sebastienrousseau/noya-cli
	arch = x86_64
	arch = aarch64
	license = MIT OR Apache-2.0
	provides = noyafmt
	provides = noyavalidate
	conflicts = noyalib
	source_x86_64 = https://github.com/sebastienrousseau/noya-cli/releases/download/v0.0.54/noya-cli-0.0.54-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = 24b047c7a1f0ec3cd5976519fa395f31c1b370a73137f110b97aee9840edee1f
	source_aarch64 = https://github.com/sebastienrousseau/noya-cli/releases/download/v0.0.54/noya-cli-0.0.54-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = cd7a048d6f5cd26d2596d771633c8a0549325a6b52fe246135e06500ef5b4742

pkgname = noyalib-bin
