pkgbase = noyalib-bin
	pkgdesc = YAML formatter (noyafmt) and JSON-Schema validator (noyavalidate) built on the noyalib library
	pkgver = 0.0.33
	pkgrel = 1
	url = https://github.com/sebastienrousseau/noya-cli
	arch = x86_64
	arch = aarch64
	license = MIT OR Apache-2.0
	provides = noyafmt
	provides = noyavalidate
	conflicts = noyalib
	source_x86_64 = https://github.com/sebastienrousseau/noya-cli/releases/download/v0.0.33/noya-cli-0.0.33-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = dc2b915614e6ad1cbec46fc35eaa4ad828f1ee8987014f62743f3d3c5dbae614
	source_aarch64 = https://github.com/sebastienrousseau/noya-cli/releases/download/v0.0.33/noya-cli-0.0.33-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = e66f40ec8114b1599fa228ec930239c8780d0a2f91df56b16f94838a9f10b3ef

pkgname = noyalib-bin
